<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    #parse("/metronic/head.vm")
</head>
<body>
    ${screen_content}
    #parse("/metronic/endOfPage.vm")
</body>
</html>