<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starsdom.system.api.respository.mapper.UserRepository">

    <select id="query" parameterType="com.starsdom.system.api.respository.domain.UserEntity" resultMap="userResultMap">
        SELECT
        <include refid="selectColumns"/>
        FROM user
        <include refid="whereCondition"/>
    </select>

    <sql id="whereCondition">
        <where>
            <if test="id != null and id != ''">
                <![CDATA[  AND `ID` = #{id} ]]>
            </if>
            <if test="userName != null">
                <![CDATA[  AND `USER_NAME` = #{userName} ]]>
            </if>
            <if test="userIdentity != null">
                <![CDATA[  AND `USER_IDENTITY` = #{userIdentity} ]]>
            </if>
            <if test="userEmail != null">
                <![CDATA[  AND `USER_EMAIL` = #{userEmail} ]]>
            </if>
            <if test="userType != null">
                <![CDATA[  AND `USER_TYPE` = #{userType} ]]>
            </if>
            <if test="lastLoginDate != null">
                <![CDATA[  AND `LAST_LOGIN_DATE` = #{lastLoginDate} ]]>
            </if>
            <if test="userStatus != null">
                <![CDATA[  AND `USER_STATUS` = #{userStatus} ]]>
            </if>
            <if test="userPassword != null">
                <![CDATA[  AND `USER_PASSWORD` = #{userPassword} ]]>
            </if>
        </where>
    </sql>

    <sql id="selectColumns">
        `ID` ,`USER_NAME`, `USER_IDENTITY`, `USER_TYPE`, `USER_PASSWORD`, `USER_STATUS`, `LAST_LOGIN_DATE`, `USER_EMAIL`, `USER_SALT`
    </sql>

    <resultMap id="userResultMap" type="com.starsdom.system.api.respository.domain.UserEntity">
        <id property="id" column="ID"/>
        <result property="userName" column="USER_NAME"/>
        <result property="userIdentity" column="USER_IDENTITY"/>
        <result property="userType" column="USER_TYPE"/>
        <result property="userPassword" column="USER_PASSWORD"/>
        <result property="userEmail" column="USER_EMAIL"/>
        <result property="lastLoginDate" column="LAST_LOGIN_DATE"/>
        <result property="userStatus" column="USER_STATUS"/>
        <result property="userSalt" column="USER_SALT"/>
    </resultMap>
</mapper>